<html>
    <head>
        {% if title %}
        <title> {{ title }} - IMIN</title>
        {% else %}
        <title> Welcome to the IMIN </title>
        {% endif %}
    </head>
    <body>
    <div> IMIN:
        <a href="/index"> Home </a>
    </div>
        <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </body>

</html>