{% extends "base.html" %}
{% block content %}
    <h1> Find out if you will get into the Club </h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.clubs.label }} <br>
            {{ form.clubs }}
        </p>
        <p>
            {{ form.img }}
        </p>
        <p> {{ form.submit() }} </p>

        {% if image %}
        <picture>
          <source media="(max-width: 650px)" srcset={{ image }}>
          <source media="(max-width: 465px)" srcset={{ image }}>
            <img src="{{ image }}" alt="Into the club like that">
        </picture>
        {% endif %}

    </form>
{% endblock %}